:root {
  --base-font-size: 16px;
  --white: #fafafa;

  --grid-gap: 10px;
  --gridstack-columns: 12;
  --gridstack-rows: 21;

  @media (orientation: landscape) {
    --gridstack-columns: 21;
    --gridstack-rows: 12;
  }
}
