@import "variables";
@import "fonts";

html {
  font-family: "AlegreyaSans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

th {
  text-align: left;
}

.widget__title {
  margin: 0 0 $base-font-size;
}

table {
  width: 100%;
}
