@import "variables";
@import "fonts";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

// Credits to https://css-tricks.com/box-sizing/#universal-box-sizing-with-inheritance
*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  &.font-alegreya {
    font-family: "AlegreyaSans", "OpenMojiBlack", Helvetica, Arial, sans-serif;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum" 1; // FIXME: WPE doesn't properly recognize font-variant-numeric, re-evaluate with later releases if we can drop this font-feature-settings declaration.
    [lang="ko-KR"] & {
      font-family: "AlegreyaSans", "NotoSansKR", Helvetica, Arial, sans-serif;
    }
  }
  &.font-inter {
    font-family: "Inter", "OpenMojiBlack", Helvetica, Arial, sans-serif;
    [lang="ko-KR"] & {
      font-family: "Inter", "NotoSansKR", Helvetica, Arial, sans-serif;
    }
  }
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

th {
  text-align: left;
}

.widget__title {
  margin: 0 0 var(--base-font-size);
  font-size: unquote("max(2rem, 50%)"); // Workaround for Sass' own max()
}

table {
  width: 100%;
}
@media screen and (orientation: portrait) and (max-width: 900px),
  screen and (orientation: landscape) and (max-width: 1600px) {
  html {
    font-size: 0.8rem;
  }
}
@media screen and (orientation: portrait) and (max-width: 768px),
  screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    font-size: 0.5rem;
  }
}

.centered-message {
  position: relative;
  margin: 0 auto;
  top: 30vh;
  max-width: 75%;
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
}
