@import "variables";
@import "fonts";

html {
  font-family: "AlegreyaSans", "OpenMojiBlack", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1; // FIXME: WPE doesn't properly recognize font-variant-numeric, re-evaluate with later releases if we can drop this font-feature-settings declaration.

  &[lang="ko-KR"] {
    font-family: "AlegreyaSans", "NotoSansKR", Helvetica, Arial, sans-serif;
  }
  // &[lang="ja-JP"] {
  //   font-family: "NotoSansJP", "AlegreyaSans", Helvetica, Arial, sans-serif;
  // }
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

th {
  text-align: left;
}

.widget__title {
  margin: 0 0 $base-font-size;
}

table {
  width: 100%;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 0.5rem;
  }
}
